header {
    z-index: 10;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    border-bottom: 5px solid rgb(1, 255, 9);
}
    body{
        background-color: rgb(0, 0, 0);
    }

.box {
    display: flex;
    justify-content: space-between;
  }

* 
{
    font-family: verdana;
  }
  
  h1 {
      text-align: center;
  }
  
  div {
      text-align: center;
  }
  table {
      margin: 1em auto;
      border-collapse: collapse;
  }
  td {
      border: 2px solid rgb(0, 0, 0);
      width: 30px;
      height: 30px;
      text-align: center;
  }
  .blocked, .flag {
      background: rgb(20, 20, 20);    
  }
  .n1, .n2, .n3, .n4, .n5, .n6, .n7, .n8 {
      background-color: rgb(195, 185, 175);
  }
  .n1 {
      color: blue;
  }
  .n2 {
      color: green;
  }
  .n3 {
      color: red;
  }
  .n4 {
      color: maroon;
  }
  .n5 {
      color: blueviolet;
  }
  .n6 {
      color: darkgoldenrod;
  }
  .n7 {
      color: orange;
  }
  .n8 {
      color: tomato;
  }



  